<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-settings-hook"
      version="0.2.7">

    <name>Cordova Settings Hooks</name>
    <description>Cordova plugin helpful to modify Android and iOS settings with config.xml parameters.
    	Based on the work of Devin Jett and Diego Netto on generator-ionic</description>
    <license>MIT</license>
    <keywords>cordova,configuration</keywords>
    <repo>https://github.com/mircoc/cordova-plugin-settings-hook.git</repo>
    <issue>https://github.com/mircoc/cordova-plugin-settings-hook/issues</issue>

    <hook src="updatePlatformConfig.js" type="after_prepare" />
    
</plugin>
